@using RVCA_base2.Models;
@model CabinetContact
@{
    Layout = null;
}

    <form action="@ViewData["SubmitUrl"].ToString()" method="post">
        <div class="row">
            <div class="col-md-4">
                <b>ФИО</b>
            </div>
            <div class="col-md-4">
                <b>Должность</b>
            </div>
            <div class="col-md-4">
                <b>Контакты</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="fio" id="fio" value="@Model.Name"  style="width:100%"/>
            </div>
            <div class="col-md-4">
                <input type="text" name="position" id="position" value="@Model.Position" style="width:100%"/>
            </div>
            <div class="col-md-4">
                <input type="text" name="contacts" id="contacts" value="@Model.Contacts" style="width:100%" />
            </div>
        </div>
        <br/>
        <center>
            <input type="submit" value="Сохранить" class="btn btn-info" onclick="testVersionReminder();"/>
        </center>
    </form>

<script>
    function testVersionReminder()
    {
        alert('Внесенные изменения в режиме Прототипа - не сохраняются!');
    }
</script>