@using RVCA_base2.Models;
@model NewsListItem
@{
    Layout = null;
}

<form action="@ViewData["SubmitUrl"].ToString()" method="post">
    <div class="row">
        <div class="col-md-6">
            <b>Заголовок</b>
        </div>
        <div class="col-md-6">
            <b>Url</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="text" name="title" id="title" value="@Model.Header" style="width:100%" />
        </div>
        <div class="col-md-6">
            <input type="text" name="url" id="url" value="@Model.Url" style="width:100%" />
        </div>
    </div>
    <br />
    <center>
        <input type="submit" value="Сохранить" class="btn btn-info"  onclick="testVersionReminder();"/>
    </center>
</form>

<script>
    function testVersionReminder()
    {
        alert('Внесенные изменения в режиме Прототипа - не сохраняются!');
    }
</script>